
    <div class="alert alert-success"><%= notice %> </div>
<h1><center>Zombies</center></h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th>Email</th>
      <th>Rotten</th>
      <th>Dueño</th>
      <th colspan="3"></th>
    </tr>
  </thead>

 <% if current_user.role === "contributor" %>
    <% @rotten_zombies = Zombie.where(user_id: current_user.id) %>
  <% else %>
    <% @rotten_zombies = Zombie.all %>
  <% end %>
  <tbody>
    <% @rotten_zombies.each do |zombie| %>
     
      <tr>
        <td><%= image_tag(zombie.avatar_url, :width => 75, :height => 65) if zombie.avatar.present? %></td>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>
        <td><%= zombie.email %></td>
        <td><%= zombie.rotten ? "yes": "no" %></td>
        <td><%= zombie.user_id ? User.where(id: zombie.user_id)[0].email : "No tiene dueño" %></td>
        <% if current_user.role === "editor" %>
          <td><%= link_to 'Show', zombie, class: "button success tiny" %></td>
          <td><%= link_to 'Edit', edit_zombie_path(zombie), class: "button warning tiny" %></td>
          <td><%= link_to 'Destroy', zombie, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert tiny" %></td>
        <% elsif current_user.role === "contributor" %>
        <td><%= link_to 'Show', zombie, class: "button success tiny" %></td>
        <td><%= link_to 'Edit', edit_zombie_path(zombie), class: "button warning tiny" %></td>
        <%else%>
        <td><%= link_to 'Show', zombie, class: "button success tiny" %></td>
        <%end%>
      </tr>
   <%end%>
  </tbody>
</table>

<br>
 <% if current_user.role === "suscriber" %>
 <%else%>
<%= link_to 'New Zombie', new_zombie_path, class: "button success" %>
<%end%>

